[Unit]
Description=Rakuten Affiliate Program Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/search-api -conf /usr/local/etc/search-api.yaml
Restart=always
User=nobody
Group=ubuntu

[Install]
WantedBy=multi-user.target
